langchain
python-dotenv
ipykernel
langchain-community
pypdf
pymupdf
langchain-text-splitters
chromadb
faiss-cpu
langchain_chroma
langchain-groq
langchain-google-genai
groq
streamlit
crawl4ai
pysqlite3

